<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookers</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
  <div th:if="${complete}" th:text="${complete}" style="color: blueviolet;"></div>
  <div th:if="${delete}" th:text="${delete}" style="color: blueviolet;"></div>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book : ${bookList}" th:object="${book}">
        <td th:text="*{title}"></td>
        <td th:text="*{content}"></td>
        <td><a th:href="@{/books/{bookId}(bookId=*{bookId})}">Show</a></td>
        <td><a th:href="@{/books/{bookId}/edit(bookId=*{bookId})}">Edit</a></td>
        <td><a th:href="@{/books/delete/{bookId}(bookId=*{bookId})}">Destroy</a></td>
      </tr>
    </tbody>
  </table>
  <h2>New book</h2>
  <form action="#" method="post" th:action="@{/books}" th:object="${bookForm}">
    <label for="title">Title</label>
    <span th:classappend="${#fields.hasErrors('title')} ? 'haserror'">
      <input type="text" id="title" name="title" th:value="*{title}">
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </span>
    <label for="content" style="margin-top: 10px;">Body</label>
    <span th:classappend="${#fields.hasErrors('content')} ? 'haserror'">
      <textarea name="content" id="content" rows="2" th:field="*{content}"></textarea>
      <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
    </span><br>
    <input type="submit" value="Create Book" style="margin-top: 10px;">
  </form>
</body>

</html>