<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookers</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="book : ${bookList}" th:object="${book}">
        <td th:text="*{title}"></td>
        <td th:text="*{content}"></td>
        <td><a href="#">Show</a></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Destroy</a></td>
      </tr>
    </tbody>
  </table>
  <h2>New book</h2>
  <form action="#" method="post" th:action="@{/book/save}" th:object="${bookForm}">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" th:value="*{title}">
    <label for="content" style="margin-top: 10px;">Body</label>
    <textarea name="content" id="content" rows="2" th:field="*{content}"></textarea><br>
    <input type="submit" value="Create Book" style="margin-top: 10px;">
  </form>
</body>

</html>