<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookers</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
  <div th:if="${update}" th:text="${update}" style="color: blueviolet;"></div>
  <div style="margin-top: 20px;">
    <p><strong>Title:</strong> <span th:text="${bookForm.title}"></span></p>
    <p><strong>Body:</strong> <span th:text="${bookForm.content}"></span></p>
  </div>
  <a th:href="@{/books/{bookId}/edit(bookId=${bookForm.bookId})}">Edit</a> | <a th:href="@{/books}">Back</a>
</body>

</html>